{% load static%}

   

            <html lang="en" dir="ltr" data-nav-layout="vertical" data-theme-mode="light" data-header-styles="light" data-menu-styles="dark" data-toggled="close">

            <head>

                <!-- Meta Data -->
                <meta charset="UTF-8">
                <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no'>
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <title>{% block title%}{% endblock %}</title>
                <meta name="Description" content="Bootstrap Responsive Admin Web Dashboard HTML5 Template">
                
                <meta name="keywords" content="admin,admin dashboard,admin panel,admin template,bootstrap,clean,dashboard,flat,jquery,modern,responsive,premium admin templates,responsive admin,ui,ui kit.">
                
            <!-- Favicon -->
            <link rel="icon" href="{% static 'assets/images/logo.jpg'%}" type="image/x-icon">
                
            <!-- Choices JS -->
            <script src="{% static 'assets/libs/choices.js/public/assets/scripts/choices.min.js'%}"></script>

            <!-- Main Theme Js -->
            <script src="{% static 'assets/js/main.js'%}"></script>
            
            <!-- Bootstrap Css -->
            <link id="style" href="{% static 'assets/libs/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet" >

            <!-- Style Css -->
            <link href="{% static 'assets/css/styles.min.css'%}" rel="stylesheet" >

            <!-- Icons Css -->
            <link href="{% static 'assets/css/icons.css'%}" rel="stylesheet" >

            <!-- Node Waves Css -->
            <link href="{% static 'assets/libs/node-waves/waves.min.css'%}" rel="stylesheet" > 
              
            <!-- Simplebar Css -->
            <link href="{% static 'assets/libs/simplebar/simplebar.min.css'%}" rel="stylesheet" >
            
            <!-- Color Picker Css -->
            <link rel="stylesheet" href="{% static 'assets/libs/flatpickr/flatpickr.min.css'%}">
            <link rel="stylesheet" href="{% static 'assets/libs/@simonwep/pickr/themes/nano.min.css'%}">

            <!-- Choices Css -->
            <link rel="stylesheet" href="{% static 'assets/libs/choices.js/public/assets/styles/choices.min.css'%}">

                {% comment %} toast css {% endcomment %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.css" integrity="sha512-DIW4FkYTOxjCqRt7oS9BFO+nVOwDL4bzukDyDtMO7crjUZhwpyrWBFroq+IqRe6VnJkTpRAS6nhDvf0w+wHmxg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
                
            </head>

            <body>
            {% comment %} switcher {% endcomment %}
           {% include "partials/switcher.html" %}
            <div class="page">
                {% comment %} header & aside {% endcomment %}
                {% include "partials/header.html" %}
                {% include "partials/asidebar.html" %}
            <!-- Start::app-content -->
            <div class="main-content app-content">
                <div class="container-fluid">
                    {% if messages %}
                    <script>
                        document.addEventListener('DOMContentLoaded', function () {
                            {% for message in messages %}
                            iziToast.success({
                                title: 'Success:',
                                animateInside: true,
                                message: "{{ message|escapejs }}",
                                position: 'topRight',
                            });
                            {% endfor %}
                        });
                    </script>
                    {% endif %}

                    {% block content%}

                    {% endblock%}
                    
                </div>
                </div>
            <!-- End::app-content -->
            {% include "partials/footer.html" %}
            {% comment %} footer {% endcomment %}
            </div>

                
            <div class="scrollToTop">
                <span class="arrow"><i class="ri-arrow-up-s-fill fs-20"></i></span>
            </div>
            <div id="responsive-overlay"></div>
            
            {% comment %} toasts {% endcomment %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js" integrity="sha512-Zq9o+E00xhhR/7vJ49mxFNJ0KQw1E1TMWkPTxrWcnpfEFDEXgUiwJHIKit93EW/XxE31HSI5GEOW06G6BF1AtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <!-- Popper JS -->
            <script src="{% static 'assets/libs/@popperjs/core/umd/popper.min.js'%}"></script>

            <!-- Bootstrap JS -->
            <script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

            <!-- Defaultmenu JS -->
            <script src="{% static 'assets/js/defaultmenu.min.js'%}"></script>

            <!-- Node Waves JS-->
            <script src="{% static 'assets/libs/node-waves/waves.min.js'%}"></script>

            <!-- Sticky JS -->
            <script src="{% static 'assets/js/sticky.js'%}"></script>

            

            <!-- Color Picker JS -->
            <script src="{% static 'assets/libs/@simonwep/pickr/pickr.es5.min.js'%}"></script>


            <!-- Apex Charts JS -->
            <script src="{% static 'assets/libs/apexcharts/apexcharts.min.js'%}"></script>

            <!-- Used For Sessions By Device Chart -->
            <script src="{% static 'assets/libs/moment/moment.js'%}"></script>
            
           

   
            <!-- Custom-Switcher JS -->
            <script src="{% static 'assets/js/custom-switcher.min.js'%}"></script>
                
            {% comment %} toast js {% endcomment %}
            <!-- Simplebar JS -->
            <script src="{% static 'assets/libs/simplebar/simplebar.min.js'%}"></script>
              <script src="{% static 'assets/js/simplebar.js'%}"></script>
            <!-- Custom JS -->
            <script src="{% static 'assets/js/custom.js'%}"></script>
            

            </body>
 
           

        </html>
   
    